@model Category

<div class="user-profile-page">
    <div class="card radius-15">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-lg-7 border-right">
                    <div class="d-md-flex align-items-center">
                        <div class="mb-md-0 mb-3">
                            <img src="@Model.ImageURL" class="rounded-circle shadow" width="130" height="130" alt="">
                        </div>
                        <div class="ms-md-4 flex-grow-1">
                            <div class="d-flex align-items-center mb-1">
                                <h4 class="mb-0">@Model.Name</h4>
                                <p class="mb-0 ms-auto">@Model.CreatedDate</p>
                            </div>
                            <button href="/Management/Category/Edit/@Model.Id" type="button" class="btn btn-primary">Düzenle</button>
                            <form action="/Management/Category/Delete/@Model.Id" method="post">
                                <input type="submit" value="Sil" class="btn btn-danger" />
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5">
                    <table class="table table-sm table-borderless mt-md-0 mt-3">
                        <tbody>
                            <tr>
                                <th>Hakkında:</th>
                                <td>@Html.Raw(Model.Description)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end row-->
        </div>
    </div>
</div>