<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<title>Bir Kitap Bir Yorum | Admin Paneli</title>
<!--favicon-->
<link rel="icon" href="~/img/favicon.png" type="image/png" />
<!-- Vector CSS -->
<link href="~/areas/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
<!--plugins-->
<link href="~/areas/assets/plugins/simplebar/css/simplebar.css" rel="stylesheet" />
<link href="~/areas/assets/plugins/perfect-scrollbar/css/perfect-scrollbar.css" rel="stylesheet" />
<link href="~/areas/assets/plugins/metismenu/css/metisMenu.min.css" rel="stylesheet" />
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/areas/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Roboto&display=swap" />
<!-- Icons CSS -->
<link rel="stylesheet" href="~/areas/assets/css/icons.css" />
<!-- App CSS -->
<link rel="stylesheet" href="~/areas/assets/css/app.css" />
<link rel="stylesheet" href="~/areas/assets/css/dark-sidebar.css" />
<link rel="stylesheet" href="~/areas/assets/css/dark-theme.css" />
<!-- CK EDİTÖR -->
<script src="~/areas/ckeditor/ckeditor.js"></script> 