<!DOCTYPE html>
<html lang="tr">
<head>
   <partial name="_Head"/>
</head>
<body>
    <partial name="_Topbar" />
    <partial name="_Navbar"/>
    @RenderBody();
    <partial name="_Footer" />
    <partial name="_Scripts"/>
</body>

</html>