<!DOCTYPE html>
<html lang="tr">

<head>
	<partial name="_Head" />
</head>

<body>
	<!-- wrapper -->
	<div class="wrapper">
		<!--sidebar-wrapper-->
		<div class="sidebar-wrapper" data-simplebar="true">
			<partial name="_Sidebar" />
			<partial name="_Navigation" />
		</div>
		<!--end sidebar-wrapper-->

		<partial name="_Header" />

		@RenderBody();

		<partial name="_Mobile" />
		<partial name="_Footer" />
	</div>
	<!-- end wrapper -->
	<partial name="_Scripts" />
</body>

</html>