<!--navigation-->
<ul class="metismenu" id="menu">
	<li>
		<a asp-action="Index" asp-controller="Management">
			<div class="parent-icon icon-color-1">
				<i class="bx bx-home-alt"></i>
			</div>
			<div class="menu-title">Ana Sayfa</div>
		</a>
	</li>
	<!--İçerik Düzenleme Başı-->
	<li class="menu-label">İçerik Düzenle</li>
	<li>
		<a href="emailbox.html">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-book"></i>
			</div>
			<div class="menu-title">Kitaplar</div>
		</a>
	</li>
	<li>
		<a href="/Management/Author/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-write"></i>
			</div>
			<div class="menu-title">Yazarlar</div>
		</a>
	</li>
	<li>
		<a href="/Management/Category/Index">
			<div class="parent-icon icon-color-3">
				<i class="lni lni-pencil-alt"></i>
			</div>
			<div class="menu-title">Kategoriler</div>
		</a>
	</li>
	<!--İçerik Düzenleme Sonu-->
	<!--Sayfa Düzenleme Başı-->
	<li class="menu-label">Sayfaları Düzenle</li>
	<li>
		<a href="/Management/MainPage/Index">
			<div class="parent-icon icon-color-7">
				<i class="lni lni-home"></i>
			</div>
			<div class="menu-title">Ana Sayfa</div>
		</a>
	</li>
	<li>
		<a href="emailbox.html">
			<div class="parent-icon icon-color-7">
				<i class="bx bx-bookmarks"></i>
			</div>
			<div class="menu-title">Hakkımda</div>
		</a>
	</li>
	<!--Sayfa Düzenleme Sonu-->
</ul>
<!--end navigation-->