<div class="sidebar-header">
    <div class="">
        <img src="~/areas/assets/images/amblem.png" class="logo-icon-2" alt="" />
    </div>
    <div>
        <h6 class="logo-text">Admin</h6>
    </div>
    <a href="javascript:;" class="toggle-btn ms-auto">
        <i class="bx bx-menu"></i>
    </a>
</div>