<!-- Topbar Start -->
<div class="container-fluid px-0 d-none d-lg-block">
    <div class="row gx-0">
        <div class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <i class="bi bi-envelope fs-1 text-primary me-3"></i>
                <div class="text-start">
                    <h6 class="text-uppercase mb-1">Mail</h6>
                    <span>info@birkitapbiryorum.com</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4 text-center bg-primary border-inner py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <a asp-action="index" asp-controller="Home" class="navbar-brand">
                    <h1 class="m-0 text-uppercase text-white">
                        <i>
                            <img src="~/img/kitap.png" alt="Kitap Resmi" width="70" height="40">
                        </i>Bir Kitap Bir Yorum
                    </h1>
                </a>
            </div>
        </div>
        <div  class="col-lg-4 text-center bg-secondary py-3">
            <div class="d-inline-flex align-items-center justify-content-center">
                <a class="bi bi-instagram fs-1 text-primary me-3" href="https://www.instagram.com/gncbk" ></a>
                <a asp-action="Login" asp-controller="UserLogin" class="btn btn-primary me-md-2" role="button">Giriş Yap</a>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->