@model Book

<div class="card">
    <div class="card-body">
        <form method="post" enctype="multipart/form-data">

            <input class="form-control mb-3" type="text" placeholder="Kitap Adı" asp-for="Name">
            <span class="text-danger" asp-validation-for="Name"></span>

            <input class="form-control mb-3" type="number" placeholder="Sayfa Sayısı" asp-for="PageCount">
            <span class="text-danger" asp-validation-for="PageCount"></span>

            <input class="form-control mb-3" type="text" placeholder="Barkod" asp-for="Barcode">
            <span class="text-danger" asp-validation-for="Barcode"></span>

            <select asp-for="CategoryId" asp-items="@ViewBag.CategoryId" class="form-control">
            </select>

            <select asp-for="AuthorId" asp-items="@ViewBag.AuthorId" class="form-control">
            </select>

            <textarea class="form-control mb-3 ckeditor" type="text" placeholder="Özet" asp-for="Brief" rows="4"></textarea>
            <span class="text-danger" asp-validation-for="Brief"></span> <!--Hata Mesajı-->
            <br />
            <input type="submit" value="Kaydet" class="btn btn-primary" />
            <a href="/Management/Author/Index" class="btn btn-warning">İptal Et</a>
        </form>
    </div>
</div>